* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;    
}

body {
    background-color: #ffffff;  
}

.content {
    padding: 1rem;
    background-color: #f8f8f8;
    width: 100vw;
    height: auto;
}


