.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    margin: 0.5rem;
    padding: 1rem .8rem 0.4rem;
    background-color: #49d0b0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    color: #111;
    text-align: right;
    opacity: 0.5;
    font-size: .625rem;
    
}

.pokemon .name {
    color: #ffff;
    margin: 1rem 0 0;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    margin: .25rem;
    padding: .2rem;
    font-size: .625rem;
    border-radius: 2rem;
    text-align: center;
}

.pokemon .detail img {
    max-width: 60%;
    height: 100px;
    align-self: flex-end;
}

@media screen and (min-width:340px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:768px) {
    .content {
        max-width: 768px;
        margin: 0 auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width:992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}