.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.header .photo {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

.header .title {
    text-align: center;
    font-family: "SUSE Mono", sans-serif;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information p {
    display: flex;    
    margin: 0.5rem;    
    gap: 0.5rem;
    font-size: 1.115rem;
    font-weight: 600;
}

.information p i {
    margin-top: 0.1rem;
    color: rgb(0, 255, 247);
}